.amazon-cart-container {
    padding: 20px;
    font-family: Arial;
  }

  .amazon-cart-container h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0f0f0f;
  }
  
  .cart-main {
    display: flex;
    gap: 20px;
  }
  
  .cart-left {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .cart-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
  }
  
  .cart-item img {
    width: 150px;
    object-fit: contain;
  }
  
  .cart-info h3 {
    margin: 0 0 10px;
  }
  
  .cart-right {
    flex: 1;
    padding: 20px;
    background-color: #fff8e1;
    border-radius: 8px;
    height: fit-content;
  }
  
  .cart-summary h3 {
    margin-bottom: 10px;
  }
  
  .checkout-btn {
    margin-top: 15px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
  }

  .qty-control {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
  }
  
  .qty-control button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .qty-control span {
    font-weight: bold;
  }
  
  .remove-btn {
    background: transparent;
    color: red;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  